.weather__card {
    font-size: 1.2rem;
    padding: .5rem .5rem .5rem 2rem;
    border-radius: 1rem;
    background-color: #d3e4ff;
    color: #004880;
    margin-bottom: .5rem;
}

.weather__card p:first-child {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #93000a;
}

.weather__card p:last-child {
    font-size: 1rem;
}