.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__header__time {
    display: flex;
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.hero__header__time--info p {
    text-align: center;
}

.hero__header__time--info p:first-child{
    font-size: 2.5rem;
}

.hero__header__time img {
    object-fit: contain;
    height: 80px;
    margin-left: 15px;
}

.hero__header__search {
    margin-right: 25px;
}

.hero__header__search input {
    font-size: 1.25rem;
    padding: 0.8rem 1.6rem;
    border-radius: 25px;
    border: none;
    background-color: #d3e4ff;
    color: #001c38;
}

.hero__header__search input:focus {
    outline: none;
}