.demo {
  color: aqua;
}

.demo2 {
  color: aquamarine;
}

.demo3 {
  width: 40px;
  height: 55px;
}

.demo4 {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.demo4 {
  color: yellow;
  font-family: "Courier New", Courier, monospace;
}