#root {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px;

	margin: 0;
	width: 100vw;
	height: 100vh;

	/* From https://css.glass */
	background: rgba(18, 31, 47, 1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.1px);
	-webkit-backdrop-filter: blur(7.1px);
	border: 1px solid rgba(18, 31, 47, 0.47);

	box-sizing: border-box;
}

html {
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
