.wrapper {
    width: 70%;
}

.another-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.spaceImg {
    margin-top: -8rem;
    height: 17rem;
    overflow-y: scroll;
}

.spaceImg::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}
  
.spaceImg::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the thumb */
    border-radius: 6px; /* Round the corners of the thumb */
}

.spaceImgAct {
    width: 98%;
}