@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap");

.wrapper {
	position: relative;

	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: "Karla", sans-serif;
	color: #fff;
	border-radius: 0 25px 25px 0;
	overflow: hidden;
}

.wrapper__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70%;
	width: 100%;
	background: url("../../../assets/sunny.png") no-repeat top right;
	background-size: cover;
	text-align: center;
	border-bottom: 2px solid #fff;
}

.wrapper__info p {
	text-align: center;
}

.wrapper__info img {
	height: 150px;
}

.wrapper__info p:first-child {
	width: 100%;
	display: flex;
	justify-content: center;
	font-weight: 700;
	align-items: center;
	font-size: 1.4rem;
}

.wrapper__info p:first-child span {
	margin-left: 10px;
	font-size: 1.2rem;
}

.wrapper__info p:nth-child(3) {
	font-weight: 900;
	font-family: "Lato", sans-serif;
	font-size: 5rem;
}

.wrapper__info p:nth-child(4) {
	font-size: 1.2rem;
}

.wrapper__info p:last-child {
	font-size: 1.5rem;
	font-weight: 700;
	font-style: italic;
}

.wrapper__messages {
	height: 30%;
	padding: 0.5rem;
	overflow: auto;
}

.wrapper__messages::-webkit-scrollbar {
	display: none;
}