.navbar__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	list-style-type: none;

	width: fit-content;
	height: 80vh;
	padding: 25px 8px;

	background: rgba(255, 255, 255, 0.17);

	border: 1px solid rgba(255, 255, 255, 0.47);
	border-radius: 24px;

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.1px);
	-webkit-backdrop-filter: blur(7.1px);
}

.navbar__wrapper:first-child img {
	width: 50px;
}

.navbar__items {
	color: #fff;
	cursor: pointer;
    transition: 0.07s ease-in;
}

.navbar__items:hover {
    transition: 0.07 ease-in;
    transform: scale(1.2);
    color: #d3e4ff;
}

.navbar__wrapper__main li {
	margin-top: 25px;
}

.navbar__items--active {
    transform: scale(1.2);
    color: #a1c9ff;
}
