body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  overflow-y: scroll;
  /* Scroll is required to see full info */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Header Text */
.header-text {
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: 700;
  /* width: fit-content; */
}

/* Card */

.card {
  position: relative;
  top: 1rem;
  background: #000000d0;
  padding: 1em;
  width: 100%;
  max-width: 500px;
  height: 425px;
  backdrop-filter: blur(8px);
}

.search {
  display: flex;
  justify-content: center;
}
.searchbar h1 {
  overflow: hidden;
  border-right: 1px solid;
  margin: 0 auto;
  position: relative;
  animation: reza 4s steps(30, end);
  animation-iteration-count: infinite;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.3em 1em;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  color: white;
  border: px solid white;
  caret-color: white;
}

.search {
  display: flex;
  justify-content: center;
}

.search-bar {
  border-radius: 30px;
}

option:hover,
.active {
  background-color: lightblue;
}

input.search-bar:focus {
  transition: 700ms;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
  border-radius: 0;
  border-radius: 30px;
}

button {
  margin: 0.5em;
  margin-left: -3.2rem;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: #00dcffc2;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

button:focus {
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
}

/* weather section */

.AQI {
  width: max-content;
  display: flex;
  flex-direction: row;
}

#temp {
  margin-left: 21%;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 57%;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 3px 6px 3px black;
  background-color: rgba(219, 228, 228, 0.32);
  border-radius: 16px;
  padding: 2px 5px;
}

.weather {
  padding: 16px;
}

.weather-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weather-icn {
  height: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-icn img {
  width: 50px;
  height: 50px;
}

#AirQuality {
  margin: 0 5px;
}

.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.loading:after {
  visibility: visible;
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 20px;
}

/* Global Styles */

.flex-1 {
  flex: 1;
}

.transition {
  transition: 2s;
}

/* Forecast */
.future-forecast {
  position: relative;
  top: 2.5rem;
}

.forecast-img {
  height: 50px;
  width: 50px;
}

.forecast-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.weather-forecast {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0.6rem;
  align-items: center;
}

.weather-forecast-item {
  border: 1px solid rgb(35, 35, 35);
  background: rgba(0, 0, 0, 0.8);
  padding: 12px;
  transition: background-color 0.5s ease;
  height: 150px;
  width: 100%;
  min-width: max-content;
}

.weather-forecast-item img {
  width: 50px;
  height: 50px;
}

.weather-forecast-item:hover {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(69, 66, 66, 0.75);
  border: 1px solid white;
  border-radius: 12px;
  cursor: pointer;
}

/* images and icons  for wind-speed,sunrise,sunset,humidity*/

.humidity-img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 10px;
}

.wind-img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 10px;
}

.sunrise-img {
  width: 25px;
  height: 25px;

  margin: 0 10px 0 0;
}

.sunset-img {
  width: 30px;
  height: 30px;

  margin: 0 10px 0 0px;
}

.city-name {
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.885), 2px 4px rgba(0, 0, 0, 0.885);
}

.city-temperature {
  text-align: center;
}

.humidity {
  margin: 10px;
  height: 28px;
}

.wind {
  margin: 10px;
}

.sunrise {
  margin: 10px;
  height: 28px;
  align-items: center;
}

.sunset {
  margin: 10px;
  height: 28px;
  align-items: center;
}

/* toast style */
.center {
  text-align: center;
}

#toast {
  visibility: hidden;
  min-width: 170px;
  background: #fafafacd;
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 7px 4px;
  position: fixed;
  z-index: 1;
  top: 15px;
  right: 16px;
  font-size: 16px;
}

#toast.show {
  visibility: visible;
}

footer{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-color: white;
  text-emphasis-style: bold;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.checkicon i {
  font-size: 40px;
  color: #47d764;
}

/* Responsive */

@media only screen and (min-width: 1200px) {
  .weather-forecast {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 992px) {
  .weather-forecast {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .weather-forecast {
    grid-template-columns: auto auto auto;
  }

  #toast {
    top: 50%;
    transform: translateY(-50%);

    right: 50%;
    transform: translateX(50%);
  }
}

@media only screen and (max-width: 576px) {
  .weather-forecast {
    grid-template-columns: auto auto;
  }

  .card {
    padding: 7px;
    height: 460px;
  }

  .weather {
    padding: 10px;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 10;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}

.label {
  width: 48px;
  height: 24px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.celcius {
  color: white;
  font-size: 15px;
}

.farenheit {
  color: white;
  font-size: 15px;
}

.navbar {
  height: 0px;
}

/* current day in future weather forecast*/
.weather-forecast-item-current-day {
  background-color: rgba(69, 66, 66, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}
