
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

/* Card */

.card {
  position: relative;
  top: 1rem;
  background: #000000d0;
  padding: 1em;
  width: 100%;
  max-width: 420px;
}

.searchbar h1 {

  overflow: hidden;
  border-right: 1px solid;
  margin: 0 auto;
  position: relative;
  animation: reza 4s steps(30 , end);
  animation-iteration-count: infinite;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;

  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  color: darkgray;
}



option:hover,
.active {
  background-color: lightblue;
}

input.search-bar:focus {
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

button:focus {
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
}

/* weather section */
.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.loading:after {
  visibility: visible;
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 20px;
}

/* Global Styles */

.flex-1 {
  flex: 1;
}

.transition {
  transition: 2s;
}

/* Forecast */
.future-forecast {
  position: relative;
  top: 4rem;
}

.weather-forecast {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5rem;
}

.weather-forecast-item {
  border: 1px solid rgb(35, 35, 35);
  background: rgba(0, 0, 0, 0.8);

  padding: 20px 0;
  transition: background-color 0.5s ease;
}

.weather-forecast-item:hover {
  background-color: #898aa6db;
  opacity: 0.9;
  border: 1px solid white;
  cursor: pointer;
}

/* toast style */
.center {
  text-align: center;
}

#toast {
  visibility: hidden;
  min-width: 170px;
  background: #fafafacd;

  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 7px 4px;
  position: fixed;
  z-index: 1;
  top: 15px;
  right: 16px;
  font-size: 16px;
}

#toast.show {
  visibility: visible;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.checkicon i {
  font-size: 40px;
  color: #47d764;
}

/* Responsive */

@media only screen and (min-width: 1200px) {
  .weather-forecast {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 992px) {
  .weather-forecast {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .weather-forecast {
    grid-template-columns: auto auto auto;
  }
  #toast {
    top: 50%;
    transform: translateY(-50%);

    right: 50%;
    transform: translateX(50%);
  }
}

@media only screen and (max-width: 576px) {
  .weather-forecast {
    grid-template-columns: auto auto;
  }
}

/* Custom Scrool Bar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #645d5d2c;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #645d5d2c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #222;
}
