body {
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  background: #222;
  /* background-image: url('https://source.unsplash.com/1600x900/?landscape'); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* z-index:-1; */
  /* Scroll is required to see full info */
  position: relative;
  font-family: 'Poppins', sans-serif;

}
/* .logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
} */
.top-nav {
  position: relative !important;
  top: 0px;
  right: 10px !important;
  left: 10px;
  z-index: 1030;
}

.logo-img {
  max-width: 50px; /* Adjust the maximum width */
  max-height: 50px; /* Adjust the maximum height */
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
/* Inside your CSS file (style.css) */

/* Header Text */
.header-component {
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  font-size: 1em;
  font-weight: 700;
  width: fit-content; 
  position: relative;
  margin: 6px auto;
  z-index: 9;
}

#date-time{
 font-family:monospace;
}

/* nav BEM Conevntion * -------/

/* Block */

.navbar {
  height: 0px;
}

.nav-component {
  height: 0px;
}

/*   element*/
.nav-component__anchor {
  text-decoration: none;
}

.nav-component__celcius-block {
  top: 30px;
  right: 30px;
  margin: 10px 20px;
  /* position: fixed !important; */
  /* replced from line 358 */
}

.nav-compoent__share-button {
  margin: 10px 30px;
  border-color: white;
}

/* .nav-component__checkbox{
  opacity: 0;
  position: absolute;
  z-index: 10;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
} */

/* Card */

.weather-component__card {
  margin: 20px 0;
  position: relative;
  top: 1rem;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 1em;
  /* width: 20rem; */
  max-width: 700px;
  height: 500px;
  backdrop-filter: blur(8px);

}

.weather-component__search {
  display: flex;
  justify-content: center;
}

.weather-component__searchbar h1 {
  overflow: hidden;
  border-right: 1px solid;
  margin: 0 auto;
  position: relative;
  animation: reza 4s steps(30, end);
  animation-iteration-count: infinite;
}

input.weather-component__search-bar {

  outline: none;
  padding: 0.3em 1em;
  background: #fff;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 50px);
  color: black;
  border: 1px solid white;
  border-radius: 30px;
  caret-color: black;
}

.weather-component__search {
  display: flex;
  justify-content: center;
  /* border-radius: 30px; */
}

.weather-component__search-bar {
  /* border-radius: 30px; */
}

option:hover,
.active {
  background-color: lightblue;
}

input.weather-component__search-bar:focus {
  transition: 700ms;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
  
  border-radius: 30px;
}

.weather-component__button {
  margin: 0.2rem 1rem;

  margin-left: -7rem;

  /* margin-left: 7.0rem; */

  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.weather-component__button-microphone {
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.button_container{
 background-color: white;
  border-radius: 0 30px 30px 0;
  display: flex;
}

button:hover {
  /* background: #7c7c7c6b; */
  border: 1px solid black;
  background-color: white;
  color: #156569;
}

button:focus {
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
}

/* weather section */

.weather-component__AQI {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.weather-component__city-temperature {
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 80%;
  font-size: 2.8rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  /* text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.5); */
  background-color: rgba(219, 228, 228, 0.32);
  border-radius: 32px;
  padding: 5px;
}

.weather-component__data {
  padding: 16px;
}

.weather-component__desc-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: rgba(219, 228, 228, 0.32);
  border-radius: 32px;
  height: 4rem;
  width: 20rem;
  margin: 20px 25px 15px 35px;
}

.weather-component__icn {
  height: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-component__icn img {
  width: 50px;
  height: 50px;
}

#AirQuality {
  margin: 0 5px;
}

.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.loading:after {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  content: "Loading...";
  position: absolute;
  right: 50%;
  top: 15px;
  /* bottom: 50%; */
  left: 50%;
}

/* Global Styles */

.flex-1 {
  flex: 1;
}

.transition {
  transition: 2s;
}

/* Forecast */
.forecast-component {
  position: relative;
  top: 2.5rem;
}

.forecast-img {
  height: 50px;
  width: 50px;
}

.forecast-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.forecast-component__items-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0.6rem;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.forecast-component__item {
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  height: 210px;
  width: 100%;
  min-width: max-content;
  margin: 1%;

}

.w-100{
  width: 111%!important;
}

.forecast-component__item img {
  width: 50px;
  height: 50px;
}

.forecast-component__item:hover {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(9, 32, 63, 0.75);

  border-radius: 12px;
  cursor: pointer;
}

/* images and icons  for wind-speed,sunrise,sunset,humidity*/

.humidity-img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 10px;
}

.wind-img {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 10px;
}

.sunrise-img {
  width: 25px;
  height: 25px;

  margin: 0 10px 0 0;
}

.sunset-img {
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0px;
}

.weather-component__city-name {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  /* text-shadow: 2px 4px rgba(0, 0, 0, 0.885), 2px 4px rgba(0, 0, 0, 0.885); */
}

.weather-component__city-temperature {
  text-align: center;
}

.humidity {
  margin: 10px;
  height: 28px;
}

.wind {
  margin: 10px;
}

.sunrise {
  margin: 10px;
  height: 28px;
  align-items: center;
}

.sunset {
  margin: 10px;
  height: 28px;
  align-items: center;
}

/* toast style */
.center {
  text-align: center;
}

#toast {
  visibility: hidden;
  min-width: 170px;
  background: #fafafacd;
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 8px;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 7px 4px;
  position: fixed;
  top: 15px;
  z-index: 3000;
  right: 16px;
  font-size: 16px;
  transform: translateY(-100%); /* Start off the screen */
  transition: transform 0.25s ease-in-out; /* Transition for sliding */
}

#toast.show {
  visibility: visible;
  transform: translateY(0); /* Slide in from the top */
}

footer {
  height: 300px;
  display: flex;
  position: relative;
  top: 240px;
  justify-content: center;
  align-items: center;
  text-decoration-color: white;
  text-emphasis-style: bold;
}

/* .col-auto {
  margin: 10px 20px;
}  */

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.toast-component__checkicon i {
  font-size: 40px;
  color: #47d764;
}

/* --Scroll Bar-- */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  background-clip: content-box;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #171717;
}

/* --End Of Scroll Bar-- */
.footerSection {
  margin-top: 20px;
  margin-bottom: 0;
}
/* Responsive */

@media only screen and (min-width: 1200px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 992px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto auto;
  }

  #toast {
    top: 50%;
    transform: translateY(-50%);

    right: 50%;
    transform: translateX(50%) !important;
    transform: none;
    transition: none;
  }

  .navbar {
    height: fit-content;
    /* border: 2px solid red; */
    margin: 1rem 0.15rem 0rem 0.15rem;
  }
  .nav-component {
    height: fit-content;
  }
  .whatsapp img {
    /* margin-top: 20px; */
  }
  .weather-component__card {
    padding: 7px;
    height: 460px;
  }
  .weather-component__card {
    margin: 0;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 10;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}

.label {
  width: 85px;
  height: 40px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  transform: scale(1);
}

.ball {
  width: 35px;
  height: 35px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(45px);
}

.celcius {
  color: white;
  font-size: 15px;
}

.farenheit {
  color: white;
  font-size: 15px;
}

.link1 {
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  margin-right: 50px;
  color: #ffffff;
  transition-property: scale();
  transition-duration: 0.5s;
}
.link1:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: linear;
  color: #ffffff;
}
.link2 {
  font-weight: 900;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  transition-property: scale();
  transition-duration: 0.5s;
}
.link2:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: linear;
}
.link3 {
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  margin-left: 50px;
  color: #d62976;
  transition-property: scale();
  transition-duration: 0.5s;
}
.link3:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: linear;
  color: #d62976;
}
.link4 {
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  margin-left: 50px;
  color: #ffffff;
  transition-property: scale();
  transition-duration: 0.5s;
}
.link4:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: linear;
  color: #ffffff;
}

.textfooter {
  color: white;
  text-align: center;
  font-size: x-large;
  z-index: auto;
}

footer {
  background-color: #000000d0;
  margin-top: 55px;
  height: 150px;
}

.footer-component {
  width: 100%;
}

/* current day in future weather forecast*/
.forecast-component__item-current-day {
  background-color: rgb(9, 32, 63, 0.75);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

@media only screen and (max-width: 576px) {
  .forecast-component__items-wrapper {
    grid-template-columns: auto auto;
  }

  .weather-component__card {
    padding: 7px;
    height: 460px;
  }

  .weather-component {
    padding: 10px;
  }
}

footer {
  text-decoration-color: white;
  text-emphasis-style: bold;
  background-color: rgb(9, 32, 63, 0.6);
  margin: 3rem auto;
}

.link {
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  transition: 0.5s;
}

.link:hover {
  transform: translateY(-6px) scale(1.1);
}

/* scroll btn css */
/* resolved css conflicts */
html {
  scroll-behavior: unset !important;
}

html body #scroll-btn {
  opacity: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: deepskyblue;
  position: fixed;
  bottom: 20%;
  right: 10%;
  border: 2px solid #fff;
  border-radius: 50%;
  font: bold 20px monospace;
  transition: opacity 0.5s, transform 0.5s;
}

#scroll-btn.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

@media only screen and (max-width: 550px) {
  .footer-component__social-media {
    width: 100%;
  }

  .link {
    width: 45%;
  }

  .weather-component__city-name {
    font-size: 1.5rem;
  }

  .weather-component__city-temperature {
    font-size: 1.5rem;
  }

  .weather-component__AQI {
    flex-direction: column;
  }
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(3px);
  z-index: -1;
}

#background::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}
.air-quality-label {
  margin: auto 5px;
  padding: 1px 5px;
}
.good-quality {
  background-color: #009966;
  border-radius: 32px;
  text-align: center;
  color: white;
}

.satisfactory-quality {
  background-color: #ffde33;
  border-radius: 32px;
  color: #111;
}

.sensitive-quality {
  border-radius: 32px;
  text-align: center;
  color: white;
  background-color: rgb(255, 102, 0);
}

.unhealthy-quality {
  border-radius: 32px;
  text-align: center;
  color: white;
  background-color: #cc0033;
}

.very-unhealthy-quality {
  border-radius: 32px;
  text-align: center;
  color: white;
  background-color:#550a55;
}

.hazardous-quality {
  background-color: #7e0023;
  border-radius: 32px;
  text-align: center;
  color: white;
}

.not-available {
  background-color: gray;
  border-radius: 32px;
  text-align: center;
  color: white;
}

.whatsapp img {
  width: 90px;
  /* margin-left: -2.2rem; */
  /* margin-top: 2rem; */
  cursor: pointer;
  /* position: fixed; */
}

.scroll-top {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1); 
}

.scroll-top > span {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000 !important; 
}

  